

@use '../custom' as *;

.display-2 {
	margin-bottom: 1rem;
	text-transform: capitalize;
	font-family: 'Poppins', sans-serif;
	&--intro {
		display: inline-block;
		font-weight: 600;
		font-family: 'Poppins', sans-serif;
	}
	&--description {
		font-size: 1.2rem;
		display: block;
		margin-top: 1.2rem;
		text-transform: none;
	}
}


// HEADING LINE.
.heading-line::before {
	content: "";
	background-color: $piink;
	display: block;
	width: 12rem;
	height: 0.1rem;
	margin: 0 auto;
}
.heading-line::after {
	content: "";
	background-color: $piink;
	width: 2rem;
	height: 0.3rem;
	padding-top: 0.5rem;
	display: block;
	margin: 0 auto;
	margin-bottom: 1rem;
}

//DISPLAY - 3
.display-3 {
	font-family: 'Poppins', sans-serif;
	
	&--title {
		font-size: 1.8rem;
		text-transform: capitalize;
		font-weight: 600;
		font-family: 'Poppins', sans-serif;
		display: inline-block;
		color: $bleu;
		// background-image: linear-gradient(to right, $primary, $secondary);
		// background-clip: text;
		// -webkit-background-clip: text;
		// -webkit-text-fill-color: transparent;
	}
} 

.border-right{
	border-right:0.1rem solid $gray-300;
	height:100%;
}

.icon{
	.row{
		h4{
			text-transform: capitalize;
			
		}
		p{
			font-family: 'Poppins', sans-serif;
			font-size: 0.8rem;
		}

	}
}